.portfolio-list-wrapper {
  width: 100%;
}

.portfolio-grid-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem 2rem;
}

/* 전체보기 버튼 컨테이너 */
.portfolio-more-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
}

.portfolio-more-btn {
  border: 1px solid var(--content-line-color);
  border-radius: 50px;
  padding: 1.6rem 4rem;
  font-size: 16px;
  color: var(--content-sub-color);
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s ease;
}

.portfolio-more-btn:hover {
  background-color: #f7f7f7;
}

@media (max-width: 768px) {
  .portfolio-grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 2rem;
  }
}
