.contact-container {
  width: 100%;
  max-width: var(--max-width);
  padding: var(--layout-padding);
  margin: 0 auto;
}

/* 헤더 섹션 스타일 */
.contact-header {
  text-align: center;
}

.contact-header-sub {
  font-size: var(--main-sub-font-size);
  color: var(--content-tertiary-color);
  margin-bottom: 0.8rem;
  letter-spacing: 0;
}

.contact-header-title {
  font-size: var(--main-title-font-size);
  font-weight: var(--section-title-font-weight);
  line-height: 1.3;
  margin-bottom: 1.6rem;
}

.contact-header-desc {
  color: var(--content-sub-color);
  margin-bottom: 3.2rem;
}

.contact-header-email {
  display: inline-block;
  border: 1px solid var(--primary-color);
  padding: 12px 24px;
  border-radius: 50px;

  margin-bottom: 1.2rem;
}

.contact-header-guide {
  color: var(--content-sub-color);
  font-size: 12px;
  font-weight: 400;
}

/** 모바일 반응형 스타일 */
@media screen and (max-width: 768px) {
  .contact-header-sub {
    margin-bottom: 0.8rem;

    font-size: var(--mobile-sub-font-size);
  }

  .contact-header-title {
    font-size: var(--mobile-title-font-size);
    line-height: 1.3;
  }
  .contact-header-desc {
    font-size: var(--mobile-desc-font-size);
    margin-bottom: 2.4rem;
  }
}